{% extends 'base.html' %}
{% set active_page = "index" %}

{% block content %}
<div class="container">
        <h1>Carolina Cardozo</h1>
        <p class="lead">        Hi! I'm Carolina Cardozo and I'm a student majoring in Biotechnology at Tecnologico de Monterrey University, in Monterrey, Mexico. I'm also a
            self-taught programmer and am passionate about coding and computer systems. My main programming languages are
            C++, Python and Matlab. I have built several fun and interesting personal projects and I invite you to take a
            look!</p>
        <p class="lead">
          <a href="/projects/" class="btn btn-lg btn-dark fw-bold border-white">Learn more</a>
        </p>
    </p>
</div>
{% endblock %}